/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: auto;
  width: 80%;
}
/* header */
.header-container{
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #0C325A;
  position: relative;

}
.header-container::after{
  content: '';
  display: block;
  clear: both;
}
.logo{
  width: 10%;
  float: left;
  margin-right: 1%;
}

.logo img{
  width: 100%;
}

.main-nav{
  width: 55%;
  margin: 1% 1%;
}
.main-nav ul{
  width: 100%;
}

.main-nav ul li, .login-nav ul li{
  float: left;
  list-style: none;
  display: inline-block;
}

.main-nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: 25px;
}

.login-nav {
  width: 35%;
  float: left;
  margin-left: 8%;
}

.login-nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-right: 25px;
}

.button{
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.green{
  background-color: #7CBB02;
  border: none;
}
/* /header */
/* main */
/* hero */
.hero{
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0C325A;
}

.hero img{
 width: 80%;
 height: 100%;
 object-fit: cover;
 margin-left: 20%;
 margin-top: 5%;
}

.description-hero{
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-30%);
  width: 35%;
  margin-left: 5%;

}
.description-hero h1{
  font-size: 45px;
  color: white;
  margin-bottom: 5%;
}
.description-hero a{
  text-decoration: none;
  color: white;
  width: 30%;
  background-color: #7CBB02;
  padding: 15px;
  border-radius: 5px;
}
.hero::after{
  content: '';
  display: block;
  clear: both;
}
/* /hero */

/* section message */
.message{
  width: 100%;
  height: 120px;
  background-color: grey;
  text-align: center;
}


/* /section message */

/* /main */
