/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /reset */

body{
  font-family: 'Roboto', sans-serif;
}

.container{
  margin: auto;
  width: 80%;
}
/* header */
.header-container{
  width: 100%;
  margin: auto;
  padding: 10px;
  background-color: #0C325A;
  position: relative;

}
.header-container::after{
  content: '';
  display: block;
  clear: both;
}
.logo{
  width: 10%;
  float: left;
  margin-right: 1%;
}

.logo img{
  width: 100%;
}

.main-nav{
  width: 55%;
  margin: 1% 1%;
}
.main-nav ul{
  width: 100%;
}

.main-nav ul li, .login-nav ul li{
  float: left;
  list-style: none;
  display: inline-block;
}

.main-nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-left: 25px;
}

.login-nav {
  width: 35%;
  float: left;
  margin-left: 8%;
}

.login-nav ul li a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  margin-right: 25px;
}

.button{
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}
.green{
  background-color: #7CBB02;
  border: none;
}
/* /header */
/* main */
/* hero */
.hero{
  margin: auto;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #0C325A;
}

.hero img{
 width: 80%;
 height: 100%;
 object-fit: cover;
 margin-left: 20%;
 margin-top: 5%;
}

.description-hero{
  position: absolute;
  top: 30%;
  left: 0;
  transform: translateY(-30%);
  width: 35%;
  margin-left: 5%;
}
.description-hero h1{
  font-size: 45px;
  color: white;
  margin-bottom: 5%;
}
.description-hero a{
  text-decoration: none;
  color: white;
  width: 30%;
  background-color: #7CBB02;
  padding: 15px;
  border-radius: 5px;
}
.hero::after{
  content: '';
  display: block;
  clear: both;
}
/* /hero */

/* section  */
.first-section{
  width: 100%;
}
.message{
  width: 100%;
  height: 120px;
  background-color: lightgrey;
  text-align: center;
  padding: 25px;
}
.message h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.second-section{
  width: 100%;
  margin-top: 5%;
}
.second-section::after{
  content: '';
  display: block;
  clear: both;
}
.col{
  width: calc(100% / 3);
  height: 120px;
}
.left{
  float: left;
}
.col-left-img{
  width: 40%;
  margin: auto;
}
.col-img img{
  max-width: 100%;
}
.description{
  margin: auto;
  width: 70%;

}
.description h3{
  margin-bottom: 8%;
  font-size: 25px;
  color: #7CBB02;
}
hr{
  width: 50%;
  margin: auto;
  color: black;

}
.description p{
  margin-top: 8%;
  color: #778899;
}
.middle{
  float: left;
}
.col-mid-img{
  width: 68%;
  margin: auto;
}
.col-mid-img img{
  max-width: 100%;
  margin-bottom: 1%;
}
.right{
  float: left;
}
.col-right-img{
  width: 50%;
  margin: auto;
}
.col-right-img img{
  max-width: 100%;
  margin-bottom: 1%;
}
/* /section*/
/* /main */
